@model OTDAV.DOMAIN.Entities.adherent
@{
    ViewBag.Title = "Login";
}

<!--breadcumb-3 area are start-->
<div class="breadcumb-area breadcumb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="breadcumb-3-area">
                    <div class="bread-main-3">
                        <div class="bred-hading text-center">
                            <ol class="breadcrumb">
                                <li class="home"><a title="Go to Home Page" href="index.html">Home</a></li>
                                <li class="active">My Account</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcumb-3 area are start-->
<!-- Account Area Start -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="account-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <form action="#" class="login-side">
                        <div class="login-reg">
                            <h3>Login</h3>
                            <div class="input-box mb-20">
                                <label class="control-label">E-Mail</label>
                               
                                 @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "info", @name = "email", placeholder = "E-Mail", value = "" } })
                                 @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })                           
                            </div>
                            <div class="input-box">
                                <label class="control-label">Password</label>
                                
                                @Html.EditorFor(model => model.mdp_adh, new { htmlAttributes = new { @class = "info", @name = "password", type = "password", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.mdp_adh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="frm-action">
                            <div class="input-box tci-box">
                                
                                <input type="submit" value="Login" class="btn-primary" />
                            </div>
                            <span>
                                <input class="remr" type="checkbox"> Remember me
                            </span>
                            <a href="#" class="forgotten forg">Forgotten Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
    <!-- Account Area End -->
